body {
	padding-top: 70px;
	padding-bottom: 30px;
}

#simplesearch-result {
	font-size: 150%;
}

#simplesearch-result article {
	font-size: 75%;
}

.list-group-item {
	overflow-x: auto;
}

.ppp-node {
	display: inline-block;
	font-size: 95%;
	margin-left: 0.1em;
	margin-right: 0.1em;
	white-space: normal;
}

.ppp-resource {
	text-align: justify;
}

.url-link {
	float: right;
	margin-right: 1em;
}

.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.icon-wikidata {
	background: url(//upload.wikimedia.org/wikipedia/commons/f/ff/Wikidata-logo.svg) 100% no-repeat;
	background-size: 100%;
	width: 26px;
	height: 16px;
	margin-left: 0.5em;
	display: inline-block;
}

.icon-wikipedia {
	background: url(//upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/16px-Wikipedia-logo-v2.svg.png) 100% no-repeat;
	background-size: 100%;
	width: 16px;
	height: 16px;
	margin-left: 0.5em;
	display: inline-block;
}

.ppp-result-item-hidden {
	display: none;
}

#map-container {
	display: none;
}

.badge-alpha {
	vertical-align: super;
}

.card-image {
	float: right;
}

#navbar-logo {
	height: 2.9em;
	margin-top: -0.9em;
}
