body {
	padding-top: 70px;
	padding-bottom: 30px;
}

#simplesearch-result {
	font-size: 150%;
}

.ppp-node {
	font-size: 95%;
	margin-left: 0.1em;
	margin-right: 0.1em;
}

.url-link {
	float: right;
	margin-right: 1em;
}

.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}