body {
	padding-top: 70px;
	padding-bottom: 30px;
}

#simplesearch-result {
	font-size: 150%;
}

#simplesearch-result article {
	font-size: 75%;
}

.list-group-item {
	overflow-x: auto;
}

.url-link {
	float: right;
	margin-right: 1em;
}

.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.card-text {
	text-align: justify;
}

#map-container {
	display: none;
}

.badge-alpha {
	vertical-align: super;
}

.card-link-icon {
	margin-left: 0.5em;
	height: 0.7em;
	font-size: 80%;
}

.card-image {
	float: right;
	margin-left: 1em;
}

.card-image img {
	height: 10em;
}

#navbar-logo {
	height: 2.9em;
	margin-top: -0.9em;
}
